lab-7b/lab-7b/Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDict">
        <s:complexType />
      </s:element>
      <s:element name="GetDictResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDictResult" type="tns:ArrayOfRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Record" nillable="true" type="tns:Record" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Record">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RecordID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecordResult" type="tns:Record" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDictResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDictResult" type="tns:Record" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdDict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="recordID" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdDictResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdDictResult" type="tns:Record" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelDict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelDictResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelDictResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDictSoapIn">
    <wsdl:part name="parameters" element="tns:GetDict" />
  </wsdl:message>
  <wsdl:message name="GetDictSoapOut">
    <wsdl:part name="parameters" element="tns:GetDictResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecordSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecord" />
  </wsdl:message>
  <wsdl:message name="GetRecordSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecordResponse" />
  </wsdl:message>
  <wsdl:message name="AddDictSoapIn">
    <wsdl:part name="parameters" element="tns:AddDict" />
  </wsdl:message>
  <wsdl:message name="AddDictSoapOut">
    <wsdl:part name="parameters" element="tns:AddDictResponse" />
  </wsdl:message>
  <wsdl:message name="UpdDictSoapIn">
    <wsdl:part name="parameters" element="tns:UpdDict" />
  </wsdl:message>
  <wsdl:message name="UpdDictSoapOut">
    <wsdl:part name="parameters" element="tns:UpdDictResponse" />
  </wsdl:message>
  <wsdl:message name="DelDictSoapIn">
    <wsdl:part name="parameters" element="tns:DelDict" />
  </wsdl:message>
  <wsdl:message name="DelDictSoapOut">
    <wsdl:part name="parameters" element="tns:DelDictResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetDict">
      <wsdl:input message="tns:GetDictSoapIn" />
      <wsdl:output message="tns:GetDictSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecord">
      <wsdl:input message="tns:GetRecordSoapIn" />
      <wsdl:output message="tns:GetRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDict">
      <wsdl:input message="tns:AddDictSoapIn" />
      <wsdl:output message="tns:AddDictSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdDict">
      <wsdl:input message="tns:UpdDictSoapIn" />
      <wsdl:output message="tns:UpdDictSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelDict">
      <wsdl:input message="tns:DelDictSoapIn" />
      <wsdl:output message="tns:DelDictSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDict">
      <soap:operation soapAction="http://tempuri.org/GetDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecord">
      <soap:operation soapAction="http://tempuri.org/GetRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDict">
      <soap:operation soapAction="http://tempuri.org/AddDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdDict">
      <soap:operation soapAction="http://tempuri.org/UpdDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDict">
      <soap:operation soapAction="http://tempuri.org/DelDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDict">
      <soap12:operation soapAction="http://tempuri.org/GetDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecord">
      <soap12:operation soapAction="http://tempuri.org/GetRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDict">
      <soap12:operation soapAction="http://tempuri.org/AddDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdDict">
      <soap12:operation soapAction="http://tempuri.org/UpdDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDict">
      <soap12:operation soapAction="http://tempuri.org/DelDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:63012/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:63012/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>